[2018-06-15 15:34] fzaninotto opened #1 "Add a screenshot in the README"
I looked for a conformation that this repo implemented the recommended material-ui design for date pickers... And I didn't find it.

A simple screenshot embedded in the README would do the trick.

[2018-06-15 16:47] vascofg commented on #1
Updated in commit 9737ab23d8da7ca789e4f5d2e220db2d70b64e7e.

[2018-06-18 06:18] fzaninotto commented on #1
Excellent, thanks!

[2018-06-18 06:18] #1 closed

[2018-06-24 22:43] afilp opened #3 "Add ability to type the date (enhancement)"
In an app where someone has to enter old dates (for example, a birth date at 1976), it is difficult to use just the visual modal form (too many clicks to find the date).

Could you find a way to be able to also **type** a date?

Please check here a similar implementation:
http://react-day-picker.js.org/docs/input

Thx!

[2018-06-24 23:21] afilp opened #4 "Are `parse` and `format` supported?"
I tried to use them but I get an error due to an "undefined" value in `parse`, as a result of the `onBlur` function being called without the `date` parameter:

![image](https://user-images.githubusercontent.com/7850073/41824752-6af05704-781e-11e8-82ad-7daa63b34e7b.png)

Am I missing something?

Thanks.

[2018-06-24 23:52] vascofg commented on #4
Options can be passed to the picker through the options prop. Available options are defined here:
https://material-ui-pickers.firebaseapp.com/demo/datepicker
Please refer to the `Options prop` part of the README: https://github.com/vascofg/react-admin-date-inputs#options-prop where I state this

[2018-06-24 23:54] vascofg commented on #3
Please refer to Keyboard Input example here: https://material-ui-pickers.firebaseapp.com/demo/datepicker
Is this what you need? Something like:
[code]

[2018-06-25 00:17] afilp commented on #3
I just added the option but nothing happened, I cannot type inside the field. This is my code:

[code]

[2018-06-25 08:51] afilp commented on #3
Thx!

Not sure if we need to do something with `state`, as in their example they use their `onChange` handler. If you can show an example (maybe in the README) on how this can work, that would be great!

[2018-06-25 08:55] afilp commented on #4
Ok, I was actually referring to `react-admin` functions of `parse` and `format`, as noted here:
https://github.com/marmelab/react-admin/blob/master/UPGRADE.md#dateinput-stores-a-date-string-instead-of-a-date-object

I understand however that this does not apply in your lib?
*"The value of the <DateInput> used to be a Date object. It's now a String, i.e. a stringified date. "*

I see that your date

[2018-06-25 09:04] vascofg commented on #4
Indeed those concept don't really apply to this at the moment.
The options you should consider are the ones from `material-ui-pickers` since that's what's used here.
Returned dates from the Picker are `Date` objects, using `date-fns@2.0.0-alpha.7` as specified here https://material-ui-pickers.firebaseapp.com/installation.

PS: A pull request to make this more compliant with `react-admin` would be

[2018-06-25 10:01] vascofg commented on #3
This is fixed in the latest version, please update to `1.0.13`.
I'm now using `material-ui-pickers` default TextFieldComponent which has the logic to handle these different modes.

[2018-06-25 14:21] afilp commented on #3
Seems to be fixed indeed. Thanks.

P.S. It has some weird behavior though, when pressing ENTER. It fetches twice, once when it loses the focus and another time when clicking OK in the modal that just opened.

[2018-06-25 16:14] vascofg commented on #3
Not sure, does passing `disableOpenOnEnter` on options help with that?

[2018-06-25 16:14] #4 closed

[2018-06-25 19:59] jarradsl opened #5 "Validation error is not displayed"
Validation error is not displayed when DateInput fails validation.

          <DateInput
            label="Happened on"
            source="happened_on"
            validate={[required()]}
            options={{
              clearable: true,
              format: 'DD/MM/YYYY',
            }}
          />

The form fails to validate however the Input styling does not change to indicate an error.

[2018-06-28 12:31] vascofg commented on #5
Thank you for reporting. Fixed in `1.0.15`.

[2018-06-28 12:31] #5 closed

[2018-07-05 19:04] jarradsl opened #6 "Internal value for DatePicker has inconsistent time component"
Not sure if this is a problem in your component or upstream library but there is inconsistency in DatePicker value behavior.

When setting a value from none to the "Today"/highlighted date, the value becomes a Date with current time components (hours, minutes, seconds). When setting a value to an explicit date (past/future) the value becomes the Date **without** time component (hours/minutes/secon

[2018-07-05 19:35] vascofg commented on #6
This package only wraps the material-ui-pickers components so you should
report this there.

On Thu, 5 Jul 2018, 20:05 Jarrad, <notifications@github.com> wrote:

[2018-07-05 19:35] #6 closed

[2018-07-05 19:37] vascofg commented on #3
Please check https://github.com/dmtrKovalenko/material-ui-pickers/issues/495 for another possible issue.

[2018-07-08 13:47] Kaukov opened #7 "Months' days are displayed with year's days' numbers"
Hello!

I wanted to try your package, but when I use it with the latest react-admin, I see the year's day numbers instead of the month's day numbers.

https://imgur.com/a/BsWtyc4

[2018-07-09 08:49] afilp commented on #3
@vascofg Thanks! Will you merge their latest master to get the fix here too?

[2018-07-09 09:38] vascofg commented on #7
Can you please confirm this is related to this issue:
https://github.com/dmtrKovalenko/material-ui-pickers/issues/424

[2018-07-09 09:40] vascofg commented on #3
I've bumped the material-ui-pickers dependency version, please confirm this is fixed.

[2018-07-09 09:45] Kaukov commented on #7
Yes, it's related to this issue. and 414 as well

[2018-07-09 10:31] vascofg commented on #7
But do you have a different version of date-fns-utils installed?
I've also encountered this issue while using a @material-ui version later than ~1.0.0. Can you try to install it and see if the problem persists?

[2018-07-18 08:16] esoulution opened #8 "Localization"
Locale property is missing
`<MuiPickersUtilsProvider` utils={DateFnsUtils} locale={locale}>

[2018-07-24 19:53] esoulution opened #9 "Utils as property"
[code]

[2018-08-04 14:42] otmi100 opened #10 "label is not taken from resource"
Hi,

first of all thanks for your effort!

When I started using your component instead of the original react-admin's DateInput, all labels have disappeared.  Wouldn't it be nice if the basic functions behave the same as in the original component and display the labels based on the ressource field (including the translation)?

I'm using "react-admin-date-inputs": "^1.0.17".

This is my first issue

[2018-08-04 23:45] thecassion opened #11 "Locale gives problem in edit form."
[code]

[2018-08-09 07:18] lihop commented on #11
@thecassion Are you setting the locale prop and is this the error message you get (before the stack trace)?

[2018-08-13 13:55] Hanno73 commented on #11
I have this problem and cannot see the DatePicker at all.
I tried to set prop
locale="en-us"
or
import enLocale from 'date-fns/locale/en-US';
and then
locale={enLocale}

but none of it worked for me.

[2018-08-13 21:39] jeffryevans commented on #11
This is problematic for us too.

[2018-08-13 23:55] vascofg commented on #11
I'll be able to take a look at this next week. Meanwhile if someone has a
fix feel free to submit a PR.

On Mon, 13 Aug 2018, 22:39 Jeffry Evans, <notifications@github.com> wrote:

[2018-08-20 08:11] vascofg commented on #10
Labels are working on my side, you may need to specify the label prop as I think it's not automatically filled from source field.
If that was what you meant, it may be implemented in the future but just specify the label prop for now.

[2018-08-20 08:11] #10 closed

[2018-08-23 14:03] vascofg commented on #11
This is fixed in `1.0.20`.

The problem was that the `locale` prop already existed in react-admin, so, when not defined in the picker component, instead of being `undefined` inside react-admin-date-inputs, it was receiving the value of the react-admin locale.

Anyway, please refer to the README.md for the new way to specify custom locales and util libs.

[2018-08-23 14:03] #11 closed

[2018-08-23 14:08] vascofg commented on #7
@Kaukov are you still having this issue?
Can't seem to reproduce on my side with:
- "date-fns": "^2.0.0-alpha.7"
- "react-admin": "^2.2.0"

[2018-09-05 13:01] zifnab87 opened #12 "DateInput with MomentUtils has problematic behavior when used in Filters"
when used in a filter it sends a complicated Moment object in the backend api

[code]
browser url: ```http://localhost:3000/#/tasks?filter=%7B%22startDate%22%3A%7B%22_isAMomentObject%22%3Atrue%2C%22_isUTC%22%3Afalse%2C%22_pf%22%3A%7B%22empty%22%3Afalse%2C%22overflow%22%3A-2%2C%22charsLeftOver%22%3A0%2C%22nullInput%22%3Afalse%2C%22invalidFormat%22%3Afalse%2C%22userInvalidated%22%3Afalse%2C%22iso%22

[2018-09-05 13:07] zifnab87 opened #13 "default use of DateInput with dateFnsUtils results in this broken picker"
[code]

![image](https://user-images.githubusercontent.com/526062/45095015-a0886600-b125-11e8-8ce2-f3e977505406.png)

[2018-09-05 15:46] vascofg commented on #13
Can you confirm your date-fns version is exactly "2.0.0-alpha.7"?

[2018-09-06 07:56] zifnab87 commented on #13
I didn't have any installed - I npm installed that specific version and I still have the same results

[2018-09-08 06:44] ashim-k-saha commented on #13
I can solve this by adding `"material-ui-pickers": "1.0.0-rc.13"` in my dependencies.
[code]

[2018-09-10 10:07] vascofg commented on #13
Please try to update to `react-admin-date-inputs@1.1.0`.
Dependencies have been updated to `date-fns@2.0.0-alpha.16` and `material-ui-pickers@1.0.0-rc.14`

[2018-09-10 22:19] vascofg commented on #13
Indeed I have, sometimes it takes a while to publish. Please check again,
it's showing up for me.

On Mon, Sep 10, 2018, 9:22 PM Michail Michailidis <notifications@github.com>
wrote:

[2018-09-11 05:40] zifnab87 commented on #13
@vascofg intresting! My publishes appear right away! Thanks :)

[2018-09-11 14:53] afilp commented on #13
@vascofg I updated the library and it works, except of this "initial" strange day numbers:

![image](https://user-images.githubusercontent.com/7850073/45368035-47b84200-b5eb-11e8-8a3d-988d3d85c4e8.png)

If I choose from the calendar, they remain that big, only if I write them directly in the date input as "11" (for example) then they work. The fetches work, despite this UI issue though. Not sure w

[2018-09-11 15:00] afilp commented on #13
I now notice that it works OK if I change the format (which used to work) from:

`options={{format: 'DD/MM/YYYY', showTodayButton: true, keyboard: true}}`

TO:

options={{format: 'dd/MM/YYYY', showTodayButton: true, keyboard: true}}

Is this a changed behavior in latest `date-fns`? Or a bug?

I would not like to replace all `format` values in my project, but I will do if this is not a bug and is a

[2018-09-11 15:02] vascofg commented on #13
Yes I noticed that too, I think it's a change on date-fns part.

On Tue, 11 Sep 2018, 16:00 afilp, <notifications@github.com> wrote:

[2018-09-11 15:12] afilp commented on #13
There are other problems too, between typing a date and showing it in the calendar:

![image](https://user-images.githubusercontent.com/7850073/45369205-070df800-b5ee-11e8-9396-da6e4983f845.png)

Could it be that something needs to be changed in `react-admin-date-inputs`? Users have problems using it now.

Thanks a lot!

[2018-09-14 05:47] dlerman2 commented on #12
Yep, I have the same problem.

[2018-09-14 06:01] dlerman2 commented on #12
I was able to fix this by using parse to convert the input back into a string:

[code]

[2018-09-21 14:40] thecassion commented on #13
For me , I have this error with react-admin v2.3.1 :
![image](https://user-images.githubusercontent.com/12730875/45887895-c1d68c80-bd8a-11e8-8c17-b2b6b87f7294.png)

[2018-09-21 15:05] IgorForkst commented on #13
![screen shot 2018-09-21 at 12 04 33](https://user-images.githubusercontent.com/42277243/45889338-8fcb2780-bd96-11e8-91c3-09c813b53fb8.png)
same error on react admin

[2018-09-24 05:49] mcwebb commented on #13
We're also experiencing the UI issue with React Admin v2.3.2.

Is there a incompatibility with MUI?

![screen shot 2018-09-24 at 10 52 19 am](https://user-images.githubusercontent.com/610528/45938871-9b635c00-bfeb-11e8-8cda-d5bbd1efa4a6.png)

[2018-09-24 12:05] vascofg commented on #13
You have to provide a material icons font, as explained in
material-ui-pickers docs

On Mon, 24 Sep 2018, 07:49 Matthew Webb, <notifications@github.com> wrote:

[2018-10-11 06:13] mcwebb commented on #13
Thank you @vascofg, that was indeed the issue, sorry :)

[2018-10-11 08:49] nacimgoura opened #14 "error display in console"
Hello,
thanks for your libraries. It works correctly but I have one error which display in console.

![capture d ecran 2018-10-11 a 10 47 05](https://user-images.githubusercontent.com/9990521/46792217-2742eb00-cd43-11e8-9943-0a05f9852221.png)

Despite the error, it works.

[2018-10-17 18:33] jarradsl commented on #6
Created https://github.com/dmtrKovalenko/material-ui-pickers/issues/697

[2018-10-31 01:18] petersg83 opened #15 "Can't resolve 'material-ui-pickers/utils/MuiPickersUtilsProvider'"
Hello,

I installed _react-admin-dateinputs_ and I'm trying to use _TimeInput_ but I have this error:
`Module not found: Can't resolve 'material-ui-pickers/utils/MuiPickersUtilsProvider' in '/Users/pierre/Documents/schoolx/frontend/node_modules/react-admin-date-inputs/lib'`

Here is my package.json:

I tried to install the module _material-ui-pickers_ but it didn't change anything.

Do you have an

[2018-11-05 23:57] tmcgee commented on #15
I am experiencing this as well. Likely related to the breaking changed noted in the material-ui-pickers version 1.0.0 [release notes](https://github.com/dmtrKovalenko/material-ui-pickers/releases/tag/v1.0.0):

[code]

[2018-11-06 16:32] stephme commented on #15
https://github.com/vascofg/react-admin-date-inputs/pull/16

[2018-11-08 08:01] kent10ou commented on #15
Thanks! Also facing same issue, is this change published to npm yet? Which version of material-ui is everyone else using?

[2018-11-08 17:10] tmcgee commented on #15
@kent10ou

This might be related to yet-another-release of material-ui-pickers. Version [2.0.0](https://github.com/dmtrKovalenko/material-ui-pickers/releases/tag/v2.0.0) this time. From the release notes:

[code]

I haven't had the opportunity to verify/fix locally.

Hope this helps.

[2018-11-21 14:04] romainquellec commented on #15
@vascofg : Any plan to release a new version on npm ?

[2018-11-27 19:45] marquesgabriel commented on #15
watching this thread

[2018-11-27 20:53] vascofg commented on #15
Working on it now

[2018-11-27 21:59] vascofg commented on #15
Hey, unfortunately I won't be able to update to material-ui-pickers stable version since they decided to update to @material-ui/core@^3.2.0 and react-admin is still on @^1.4.0. This is causing some issues with the date-picker modal.

I'll try to publish a fixed version using the latest compatible material-ui-pickers version.

[2018-11-27 22:11] vascofg commented on #15
Fixed in 1.0.21

[2018-11-27 22:11] #15 closed

[2018-11-27 22:13] vascofg commented on #14
Hi, sorry for the late reply. Can you confirm your react-admin version?

[2018-11-27 22:13] #13 closed

[2018-11-28 08:19] nacimgoura commented on #14
I have to remember how to reproduce the bug already 😄

[2018-12-28 15:08] sorcer1 opened #18 "Wrong buttons translations"
Hello,

In your example [https://material-ui-pickers.firebaseapp.com/localization/moment](https://material-ui-pickers.firebaseapp.com/localization/moment) when you choose fr language the buttons are still in english.

[2019-01-04 17:23] mastox commented on #15
Hey @vascofg,
I have the same error message, but it's not solved in 1.0.21.

[code]
Is the version 1.0.21 compatible with the current version of @material-ui/core 3.2.0 ?
Thanks

[2019-01-10 00:21] jacklj commented on #15
I'm getting the error too:
[code]

Upgrading to 1.0.21 didn't help.

Installing date-fns v2.0.0-alpha.7 manually *did* allow the app to build, but then I get weird visual bugs in the date picker, presumably due to breaking changes in version 2 of date-fns.

[2019-01-10 05:01] lihop commented on #18
@sorcer1 According to [material-ui-picker docs](https://material-ui-pickers.firebaseapp.com/localization/date-fns) the correct import for DateFnsUtils is `@date-io/date-fns`. I changed my import to this and it fixed the problem for me. I have created pull request #19 to update the docs.

[2019-01-10 09:20] sorcer1 commented on #12
Hello, i have the same issue !
Any idea of a date to a fix ! ;)

[2019-01-21 14:32] Kmaschta opened #20 "Upgrade to latest versions of React Admin and Material-UI"
Hi, React Admin maintainers here. Thanks for making this lib!

We had an issue about your library on react-admin: https://github.com/marmelab/react-admin/issues/2795
`react-admin-date-inputs` seems to no longer be working because of out-to-date dependencies.

I closed the issue because it is not directly related to react-admin.

Let me know if you need something more to support the latest versions

[2019-01-21 19:20] vascofg commented on #20
Done in 1.1.1

[2019-01-21 19:21] vascofg commented on #18
merged, thanks for your PR @lihop

[2019-01-21 19:21] #18 closed

[2019-01-21 19:56] vascofg commented on #20
It seems like the issue on react-admin's repo was due to a wrong version of material-ui.
I can't merge my PR (#22 - had to open a new one) until you guys migrate to material-ui 3.2 or higher.

[2019-01-21 22:00] swoopamir commented on #20
I'm having issues with this at the moment, what is the best work around for this?

[2019-01-21 23:33] vascofg commented on #20
Use the correct material-ui version (I believe 1.4.0 right now but you can
check react-admin/packages/ra-ui-materialui/package.json for an up to date
answer)

On Mon, Jan 21, 2019, 23:00 Amir Ghorbani <notifications@github.com wrote:

[2019-01-21 23:47] swoopamir commented on #20
amazing, thanks for the quick response @vascofg

[2019-01-22 08:41] Kmaschta commented on #20
Ref to my anwser about React Admin supporting Material UI v3: https://github.com/vascofg/react-admin-date-inputs/pull/22#issuecomment-456315069

[2019-01-25 22:25] antoniorrm opened #24 "erro in import _MuiPickersUtilsProvider"
Is the version in npm up to date?

[2019-01-25 23:15] antoniorrm opened #25 "Is there a way to translate the name of the month and the week?"

[2019-01-27 09:48] vascofg commented on #24
check now please, 1.1.2

[2019-01-28 14:05] antoniorrm commented on #24
tanks.

[2019-01-28 14:05] #24 closed

[2019-02-13 14:53] bawpcwpn opened #26 "getStartOfMonth is not a function error"
Hi!

Trying to use this with react-admin 2.7.1 and when using a <DateInput> I get the following error:

`TypeError: _this.props.utils.getStartOfMonth is not a function`

The versions for my other packages are:
"@date-io/date-fns": "^1.1.0",
"date-fns": "^2.0.0-alpha.27",

If I can provide any other info, please let me know!

[2019-02-15 11:09] jheiska opened #27 "update date-fns to the latest version"
I noticed you are using the version "date-fns": "2.0.0-alpha.16", but the latest is 2.0.0-alpha.27. At least a bunch of locales are missing on the older version.

[2019-02-15 11:42] jheiska commented on #13
This same issue appears for me, using your version 1.1.2 and the version 2.7.0 of react-admin. Testing it out it seems the number it shows for the day of year that day is. So, if I pick december 31, it shows 365 there. Changing between caps and low-case letters in the format dd/mm/yyyy doesn't seem to make a difference. The date is actually sent correctly, but this can be "slightly" confusing for

[2019-02-15 13:27] jheiska opened #28 "DateInput stores wrong date if timezone is +2"
When storing a date with dateinput, while local time is ahead of UTC, the time storing is a bit "funny". As it is converted to datetime and to utc, the actual date stored is the day before the selected one.
This causes some serious problems if the date is converted to a date in backend, simply throwing away the time part.
I did find some ways to get around this from react-admin issues, but shouldn

[2019-02-18 11:49] seeMzack commented on #26
Caught similar error and found out the issue is from `material-ui-pickers` and not from this package.

It can be solved by adding below line after importing the utils `import DateFnsUtils from '@date-io/date-fns'`
[code]
Ref: https://github.com/dmtrKovalenko/material-ui-pickers/issues/877#issuecomment-461043769

And if caught error related to `awareOfUnicodeTokens` need to set to `true`, simply ch

[2019-02-28 08:38] cavr commented on #27
I'm having the same problem.

[2019-03-01 14:29] marquesgabriel commented on #27
Same issue here

[2019-03-08 17:43] afilp commented on #4
@vascofg Hi! I was wondering if there is something new with this, we wanted to use the parse/format as the data are different in redux-form than in the DatePicker. Thanks!

[2019-03-21 03:06] khukeke opened #29 "TimeInput component's value is the full date."
code is :
`<TimeInput {...prop} options={{format: 'HH:mm:ss'}}/>`

I use 'format' to format display. but the value is like this: 'Thu Mar 21 2019 00:58:01 GMT+0800'

I want value is like this:  '00:58:01'.

thanks.

[2019-04-03 01:12] jormaechea opened #30 "Module not found: Can't resolve 'date-fns/addDays'"
Just installed the library, and when I require the `TimeInput`, I get the following compile error:

[code]

I even added `date-fns` to my package.json, but no luck.

I saw this error in a closed unrelated issue here: https://github.com/vascofg/react-admin-date-inputs/issues/15#issuecomment-452923010

[2019-04-05 12:43] JankesJanco commented on #30
I had the same issue and resolved it by adding `date-fns` and `material-ui-pickers` to `package.json`. (not sure if it is the right way how to deal with such error)

[2019-04-12 07:42] ihrigb commented on #30
I experience the same issue. Could be related to a version missmatch with date-fns.

I see `./node_module/date-fns/add_days` instead of `./node_module/date-fns/addDays`.

[2019-04-26 10:21] monkeydri commented on #30
react-admin-date-inputs (@1.1.2 or @1.0.21)  dependencies :
- "date-fns": "2.0.0-alpha.16",
- "material-ui-pickers": "1.0.0-rc.17"

material-ui-pickers (1.0.0-rc.17)  dev dependency :
- "date-fns": "2.0.0-alpha.16"

but for some reason date-fns actually installed in node_modules : @1.30.1

fixed by `npm i date-fns@2.0.0-alpha.16`

[2019-05-14 18:33] ihrigb commented on #30
I addressed this in a PR, but owner seems not to be interested in taking care of it.

[2019-05-16 23:11] esistgut commented on #30
@vascofg can you please merge the PR and release a new version?

[2019-05-22 11:05] juliecaJulo commented on #30
I also have the same issue. please take care of it as soon as possible

[2019-06-11 22:37] jormaechea commented on #30
@vascofg are you still giving support to this project?

[2019-07-09 14:53] sfarkas1988 opened #33 "Buttons not translated"
Hey guys, my buttons (ok, cancel, clear) are not translated properly and I cannot find any way to overwrite the text of the buttons.
Following my code to render DateInput in german. Besides of the buttons everything else is translated properly.

`
import deLocale from "date-fns/locale/de";
import DateFnsUtils from '@date-io/date-fns';
import {DateInput} from 'react-admin-date-inputs';

<DateInput

[2019-07-24 15:58] danillobarbosa commented on #20
`import MomentUtils from "@date-io/moment";
import { DatePicker, DateTimePicker, MuiPickersUtilsProvider, TimePicker } from "@material-ui/pickers";
import PropTypes from "prop-types";
import { addField, FieldTitle } from "ra-core";
import React from "react";
const makePicker = PickerComponent => {
  const _makePicker = React.forwardRef((props, ref) => {
    const onChange = date => {
      props.i

[2019-07-24 16:02] danillobarbosa commented on #20
[code]

[2019-07-24 16:12] danillobarbosa commented on #20
I wrote this using forwardRef function and using the latest material-ui version.

Added also the KeyboardTimePicker option in exports.

[code]

[2019-09-09 12:19] winglight opened #34 "DateInput gets the wrong Day with 3 digits"
I put a DateInput in the Filters of a List as below:
[code]
But the DateInput get a wrong Day value, like '2019-09-245', while I pick the date: 2019-09-02.

I guess it's about timezone? But nowhere to adjust the timezone.

[2019-09-09 12:21] winglight commented on #34
I solved it. the date format here should be 'YYYY-MM-dd' that's weird.

[2019-09-09 12:21] #34 closed

[2019-10-21 07:53] PaddyLock opened #35 "You are calling withTheme(Component) with an undefined component. You may have forgotten to import it."
If I try and use  with react-admin

`import { DateTimeInput } from 'react-admin-date-inputs';`

with

`<DateTimeInput label="Start" options={{ format: 'DD/MM/YYYY, HH:mm:ss', ampm: false, clearable: true }} />`

Error: You are calling withTheme(Component) with an undefined component.
You may have forgotten to import it.

I have the following dependancies

`
"dependencies": {
    "@material-ui/core

[2019-10-22 18:33] vascofg commented on #30
I merged an update to the dependencies.
I'm not working with react-admin anymore but will try to provide more updates in the future. If someone would like to join as a contributor let me know.

[2019-10-22 20:07] ihrigb commented on #30
Hi @vascofg
I'd be fine to join as a contributor. Maybe we can get shorter turnaround times on updates and pull requests.
BR,
Benjamin

[2019-10-23 10:46] despatates commented on #15
It seems error `Can't resolve 'material-ui-pickers/utils/MuiPickersUtilsProvider'` is back.
May it be linked to the upgrade of `material-ui-pickers` in PR #31?

[2019-10-24 16:29] jmccabe-harmelin opened #36 "Can't use 'views' prop"
I am trying to create a DateInput that only shows Year and Month views.
Following the Material-UI Pickers example (https://material-ui-pickers.dev/demo/datepicker#different-views)

Seems as easy as adding `views: ["year", "month"],` to the options prop.
But when I pass these views into the DateInput, nothing happens.

Am I missing something?

[2019-10-28 09:32] blamze opened #37 "Import MuiPickersUtilsProvider missing after migrating to material-ui-pickers v1 from rc17"
After bumping material-ui-pickers to v1 from rc17, MuiPickersUtilsProvider import changes.

V1 has breaking changes
https://github.com/mui-org/material-ui-pickers/releases/tag/v1.0.0

https://prnt.sc/pp2c81

-import MuiPickersUtilsProvider from 'material-ui-pickers/utils/MuiPickersUtilsProvider'
+import MuiPickersUtilsProvider from 'material-ui-pickers/MuiPickersUtilsProvider'

[2019-10-28 09:38] despatates commented on #15
An issue is open for this problem, see https://github.com/vascofg/react-admin-date-inputs/issues/37.

[2019-10-29 16:53] jmccabe-harmelin commented on #36
Here's a [link to a code sandbox](https://codesandbox.io/s/simple-oicbf?fontsize=14&module=%2Fsrc%2Fposts%2FPostCreate.js) demo'ing the issue.

Some of the options (like `autoOk` and `format`) appear to be working just fine.
While others (like `views` and `openTo`) are not working.

[2019-11-14 04:27] NikitaVlaznev commented on #37
It was fixed but reverted somewhy here:

[2019-12-02 22:20] afilp commented on #35
Have you managed to solve this? I have the same problem after upgrading to `react-admin 3.0`

[2019-12-30 10:56] TomasVink commented on #37
watching this one

[2020-01-02 17:02] WiXSL opened #42 "mui-pickers-v3."
I've created a branch in my fork compatible with react-admin v3.

- Uses a functional component.
- Uses react-admin `useInput` instead of the deprecated `addField`.
- Added `KeyboardDateInput`.

You can check it out here:
https://github.com/WiXSL/react-admin-date-inputs/tree/mui-pickers-v3

[2020-01-15 15:55] x5engine commented on #15
### 2020

the issue is still happening :D

`Can't resolve 'material-ui-pickers/utils/MuiPickersUtilsProvider'`

I think it might be solved in 2070 for sure

[2020-01-15 15:55] x5engine commented on #37
@TomasVink watching with you :D nice movie tho

[2020-01-15 16:17] x5engine commented on #15
anyway since the author is not here, here is a fix deployed to npm

https://github.com/x5engine/react-admin-date-inputs

`npm install react-admin-date-inputs2 --save`

[2020-01-16 22:25] mrclayman commented on #42
Thanks a lot for this. I am a noob when it comes to web development, so I'd love it if you could publish your fork through npm where I could pick it up easily. :blush:

Thanks again for your efforts. <3

[2020-01-20 12:46] WiXSL commented on #42
Thank you!
I'm still working on it.
In the meantime you could install it like a regular npm package pointing to my repo in your package.json file like this:

`{
    "react-admin-date-inputs": "WiXSL/react-admin-date-inputs#mui-pickers-v3"
}`

[2020-01-22 09:50] elsni opened #43 "there is no index.html in react-admin"
there is no index.html in my installation of the current version of react-admin.
Where can I put should the stylesheet link instead?

[2020-01-30 14:01] hugofialho commented on #25
I'd like too.

[2020-01-30 14:13] hugofialho commented on #25
According to readme.md you need pass the providerOptions to the component

import DateFnsUtils from '@date-io/date-fns';
import frLocale from "date-fns/locale/fr";

<DateInput source="date" label="Date in French!" providerOptions={{ utils: DateFnsUtils, locale: frLocale }} />

[2020-02-05 22:41] Mohamed-Hamed commented on #42
I have already upgraded the repo to reac-admin v3 and mui-pickers v3 2 months ago.
See this pull requests:
#40

[2020-02-12 19:37] WiXSL commented on #42
They finally merge it!

In using the one in my fork since I believe is more visually consistent with the latest version of react-admin, plus I've added other components, but since yours have been merged, I could send a PR with the changes.

Could you check my fork and give me some feedback?

[2020-02-13 10:27] ihrigb commented on #42
Sorry for the delay.
@WiXSL please go ahead. Only thing is that I do not have access to the NPM package and cannot publish a new version. This can only be done by @vascofg.

[2020-02-15 17:17] hamedov93 commented on #42
@WiXSL
Of course your fork is better as you added more components and react-admin core features.
Great work .
I just wanted to get a minimal compatible version as I was short in time.

You could apply your changes to the current merged code to make it more consistent.

[2020-02-19 17:31] hamedov93 commented on #43
The index file here is where you load the bundle resulting from building a react-admin app, and is not part of react-admin package.

[2020-02-19 20:36] WiXSL commented on #42
I've created the PR. https://github.com/vascofg/react-admin-date-inputs/pull/47/files

[2020-02-19 23:07] lngarrett commented on #42
@WiXSL Will this be on NPM today?

[2020-02-20 03:11] WiXSL commented on #42
No, when it gets merge, if it's accepted.
In the meantime, as I comment before, you can install from my fork adding the following to your package.json file:

`{ "react-admin-date-inputs": "WiXSL/react-admin-date-inputs#mui-pickers-v3" }`

[2020-02-27 10:50] BepaTest commented on #35
Hello! I've got the same issue. Did anyone find a solution? I guess it's about material-ui versions incompatibility
[code]

[2020-03-06 14:52] nacimgoura commented on #35
Same problem

[2020-03-09 15:35] nacimgoura commented on #42
No, add `{ "react-admin-date-inputs": "github:WiXSL/react-admin-date-inputs#mui-pickers-v3" }

[2020-03-18 11:51] kopax commented on #42
Thanks it work great with v3, I just have one question, using `mui-pickers-v3`, is there a way I can allow only date from today to the end of the world or It can just allow all date?

[2020-03-18 12:13] WiXSL commented on #42
I belive passing `disablePast=true` prop should do that according to the API docs:
https://material-ui-pickers.dev/api/KeyboardDatePicker

[2020-03-29 08:57] GaneshRasekar commented on #15
![Capture](https://user-images.githubusercontent.com/22542344/77845028-2321bc00-71c9-11ea-8425-41b805c683ce.PNG)

issue in DateInput
https://codesandbox.io/s/vigilant-diffie-lvn6v

[2020-04-03 07:53] sbyeol3 commented on #35
same problem occurs :(
"react-admin": "^3.1.2",

[2020-04-21 15:02] chungchi300 commented on #42
cannot run when usage @WiXSL

[code]

Exception is thrown
[code]

[code]

[2020-04-21 15:14] WiXSL commented on #42
@chungchi300 using your code i only get complaints from react about the format. it should be:
`format: "dd/MM/yyyy, HH:mm:ss",`

Other than that it works.

[2020-04-22 02:10] chungchi300 commented on #42
weird, is that may dependency has some problem? My npm ls
[code]

package.json
[code]

[2020-04-22 02:11] chungchi300 commented on #42
I use lerna to install my dependency @WiXSL

[2020-04-30 11:26] Julien-Sytadelle commented on #15
Just in case : If you still use react-admin v2.9, simply use the version 1.1.2 code you can easily find in commit history (1 file) and change the pickers import:
import { MuiPickersUtilsProvider, DatePicker, TimePicker, DateTimePicker } from 'material-ui-pickers';
/*
import DatePicker from 'material-ui-pickers';
import TimePicker from 'material-ui-pickers';
import DateTimePicker from 'material-ui-

[2020-04-30 16:30] fancyaction commented on #42
Do you see v4 migration being difficult when it's available? We are having issues with the current on mobile (safari/chrome) converting to UTC time instead of user's local; fine on desktop and even my phone so maybe browser-specific. Also, really could use the DateRangePicker being added to v4.

[2020-05-15 07:45] lala7573 opened #49 "Is there any plan to release?"
Hi, thank you for this component and your dedication for this repository.
The latest code looks working well, but when I added this to my repository, faced some errors.
I'm struggled with that error like 'material-ui-picker/utils/MuiPickersUtilsProvider not found ' and found that the latest code was not released.
I checked http://registry.npmjs.org/react-admin-date-inputs . The last release is 201

[2020-05-16 12:58] mrclayman commented on #49
The original creator does not appear to be active at the moment, but you can use a fork described in issue #42 until things get going again.

[2020-05-21 13:37] myxit commented on #30
how is it going with updating?
component is extremely useful and it is sad having it not working out of the box

[2020-06-20 02:40] MoonSupport commented on #28
If DateInput will not include 'time', it would have same issue yet.

we can reference react admin doc for this problem.
https://github.com/marmelab/react-admin/blob/master/docs/Inputs.md

Below code, It would work for you
[code]
[code]

[2020-07-29 19:23] emulienfou opened #51 "mui-pickers-v4"
I've created a branch in my fork compatible with Material-UI Pickers v4
* **@material-ui/pickers** `^3.2.8` to `^4.0.0-alpha.10`
* Dependencies upgraded
* Replace `MuiPickersUtilsProvider` by `LocalizationProvider`
* Import `DateRangeDelimiter`, `DateRangePicker` components
* Added `DateRangeInput`

I haven't tested completely so it may have some issues, but it's a start.
You can check it out here

[2020-07-29 19:24] emulienfou commented on #42
@fancyaction I upgraded this component to V4, see issue #51. Not fully tested, but it's a start

[2020-07-30 15:35] vascofg commented on #51
As it's probably clear I'm not working with react-admin anymore.
Can you provide a CodeSandbox link for testing? Also how would you feel taking over the project?

[2020-08-03 13:52] emulienfou commented on #51
@vascofg I can take over this project if no one wants to take it

[2020-12-05 16:10] aalinia commented on #42
@WiXSL I'm trying to use [https://github.com/WiXSL/react-admin-date-inputs/tree/mui-pickers-v3](https://github.com/WiXSL/react-admin-date-inputs/tree/mui-pickers-v3 ) but it has an error:

[code]

I use yarn and added the package to the package.json :

[code]

[2020-12-05 17:55] WiXSL commented on #42
@aalinia, try with `"react-admin-date-inputs": "github:WiXSL/react-admin-date-inputs#mui-pickers-v3"`

[2020-12-05 18:52] aalinia commented on #42
Tried it. Here is the result:
[code]

package.json:
[code]

[2020-12-05 18:55] aalinia commented on #42
@WiXSL I also was wondering if the support for [Jalaali/Hijri calendar systems](https://material-ui-pickers.dev/localization/calendar-systems#jalaali-calendar-system) can be added?

[2020-12-05 19:36] WiXSL commented on #42
Your getting an error on your side `info There appears to be trouble with your network connection. Retrying...`.

`...I also was wondering if the support for Jalaali/Hijri calendar systems can be added?...`
I just forked the original repository to make some changes. Of course it can be added, but you will have to do it yourself.

[2020-12-05 20:08] aalinia commented on #42
@WiXSL I think it's because of `github:WiXSL/react-admin-date-inputs#mui-pickers-v3` part. somehow it's not reachable with `yarn`

Should I fork yours? Is your fork is merged yet?

[2020-12-05 20:39] WiXSL commented on #42
`I think it's because of github:WiXSL/react-admin-date-inputs#mui-pickers-v3 part. somehow it's not reachable with yarn`
It works for me.

`Should I fork yours? Is your fork is merged yet?`
Forks are not to be merged, only pull requests.

[2020-12-05 21:08] aalinia commented on #42
weird. I will check

My bad. I saw your PR is not merged yet. How can I add Jalaali/Hijri to your PR/changes?

[2020-12-11 17:55] amorphius commented on #30
not working for me either

[2020-12-19 04:33] shinaBR2 commented on #42
Dear @WiXSL and all guys,
I have published this module into npm: https://www.npmjs.com/package/@shinabr2/react-admin-date-inputs

[2020-12-24 11:28] NuniTelo opened #54 "Can't resolve 'material-ui-pickers/utils/MuiPickersUtilsProvider'"
Hello, I am having this problem with our project and we can't fix it.
This is where error is happening:
Module not found: Can't resolve 'material-ui-pickers/utils/MuiPickersUtilsProvider' in '...\node_modules\react-admin-date-inputs\lib'
Is there any fix for this?

[2020-12-24 11:38] NuniTelo commented on #54
Fiexed by migrating to react-admin-date-inputs2

[2020-12-24 11:38] #54 closed, assigned to nobody

[2021-03-08 02:49] andrekutianski commented on #37
It seems that this had been fixed in the merge but for some reason, the master had the wrong line again

https://github.com/vascofg/react-admin-date-inputs/blob/d07734bc2c412cdc2b0caf83bcd8074ee1dea9a2/lib/index.js#L28

It seems that this project is completely abandoned and out of date. It is a pity that react-admin continues to depend on and recommend this repo to solve the date format (!!!)

[2021-04-26 12:00] WiXSL commented on #42
@shinaBR2 I've added some fixes in my fork.
Since you've published it, could you upgrade your package with my changes?
Thanks

[2021-04-27 12:36] shinaBR2 commented on #42
@WiXSL I will do tomorrow 🎉

[2021-05-09 03:58] hallboav commented on #42
@WiXSL, Why the input is always shrinked?

[2021-05-09 18:20] WiXSL commented on #42
@hallboav, You have to pass `InputLabelProps={{shrink: false}}` the same as React-Admin's `DateInput`

[2021-06-09 20:56] jbek7 commented on #51
@vascofg or @emulienfou any updates?

[2021-07-21 17:21] #25 closed

[2022-04-08 09:32] chichilatte commented on #37
A kindly guy in Uruguay, @WiXSL, seems to be keeping this project alive...

https://github.com/WiXSL/react-admin-date-inputs#mui-pickers-v3

I added it to my project like so:

    yarn add WiXSL/react-admin-date-inputs#3e6eee7

(apparently it's advisable to use specific commits in your `package.json` when adding git repos)

You're probably best forking it yourself, in case he deletes it.

[2022-09-26 21:54] MBach commented on #51
@emulienfou repository was deleted?